@use '../style/default' as *;

.title {
  font-size: 32px;
  text-align: center;
}

.canvas-buffer{
  width: 40%;
}

.img-input {

}

crop-face-tab {
  button {

  }

  img {

  }
}

output-form {

  button {

  }
}
