@use "../../styles/global" as g;

.predict-panel {
  @include g.panel-size(50%);

  canvas {
    background-color: white;
    width: 20%;
    margin-bottom: 5%;
  }

  textarea {
    width: g.$panel-content-width;
    height: 100%;
    resize: none;
  }

  button {
    width: g.$panel-content-width;
  }
}
